<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pcs.studentclubmanagement.mapper.ActivityMapper">
    <select id="selectByTitle" resultType="cn.pcs.studentclubmanagement.entity.Activity">
        SELECT * FROM activity WHERE title = #{title}
    </select>
</mapper> 