<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pcs.studentclubmanagement.mapper.ClubMapper">
    <select id="selectByName" resultType="cn.pcs.studentclubmanagement.entity.Club">
        SELECT * FROM club WHERE name = #{name}
    </select>
</mapper> 